<h1>Number of applications submitted:
	<%= locals.schools.reduce((acc, currentValue) => acc + Number(currentValue["count"]), 0) %>
</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Count</th>
	</tr>
	<tbody>
		<% for(let index in locals.schools) { %>
			<% let school = locals.schools[index]; %>
			<tr>
				<td><%= school.name %></td>
				<td><%= school.count %></td>
			</tr>
		<% } %>
	</tbody>
</table>