<!DOCTYPE html>
<html>
<head>
	<title>Check In</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css">
	<style type="text/css">
		body {
			text-align: center;
			padding-top: 10px;
			overflow-x: scroll;
		}
		table {
			margin: 0 auto;
			text-align: center;
			border-spacing: 0;
			border-collapse: collapse;
		}
		table, th, td {
			border: 1px solid black;
		}
		th, td {
			padding: 10px;
		}
		.dropdown {
			margin: 20px 0;
		}
		.checked_in {
			background-color: #81c88c;
		}
		.waitlisted {
			background-color: #999;
		}
		.rejected {
			background-color: #ff4d4d;
		}
	</style>
</head>
<body>	<h1>Checked In Count: <%- locals.applications_checked_in_count-30 %></h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>School</th>
			<th>Check-In</th>
		</tr>
		<tbody>
			<% locals.applications.filter(application => application.accepted === true).map(application => { %>
				<%- include("partials/checkin", {...application, status: "accepted"}) %>
			<% }) %>
			<% locals.applications.filter(application => application.accepted === null).map(application => { %>
				<%- include("partials/checkin", {...application, status: "waitlisted"}) %>
			<% }) %>
			<% locals.applications.filter(application => application.accepted === false).map(application => { %>
				<%- include("partials/checkin", {...application, status: "rejected"}) %>
			<% }) %>
		</tbody>
	</table>

</body>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".ui.dropdown").dropdown();
	})
</script>
</html>